{% extends 'clubs/base.html' %}
{% load static %}  

{% block content %}
<div class="row">

  <aside class="col-md-4 blog-sidebar">
    <div class="p-4 mb-3 bg-light rounded">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="{{ player.player_image.url }}" alt="Card image cap">
        <div class="card-body">
          <p class="text-dark border-bottom">Club: <b>{{ player.club }}</b></p>
          <p class="text-dark border-bottom">Nationality: <b>{{ player.nationality }}</b></p>                    
        </div>
      </div>
    </div>
  </aside><!-- /.blog-sidebar -->

  <div class="col-md-8 blog-main">
    <h2 class="pb-1 mb-2 font-regular">
      {{ player.jersey_number }}
    </h2>
    
    <h3 class="pb-1 mb-2 font-bold border-bottom">
      {{ player.first_name }} {{ player.last_name }}
    </h3>

    <div class="blog-post">
      <p class="text-dark"><b>Date of Birth:</b> {{ player.date_of_date }}    |    <b>Height:</b> {{ player.height }}</p>
      
      <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
      <hr>
      
    </div><!-- /.blog-post -->
  </div><!-- /.blog-main -->


</div><!-- /.row -->


  <div class="row">
   
    <div class="col-md-3">
      
    </div>
   
  </div>
{% endblock %}